@primary-color: rgb(16, 0, 79);
@background-color: rgb(39, 19, 121);
@text-color: rgba(141, 128, 198, 1.0);

@import './lib/bootstrap.min.css';

@import './base.less';
@import './navbar.less';
@import './gradient.less';
@import './info-card.less';
@import './country-selector.less';

@import '~rodal/lib/rodal.css';
@import './modal.less';

body {
    margin: 0;
    background-color: @background-color;
}