.app-container {
}

.centered {
    text-align: center;
}

.covid-row {
    margin-top: 15px;
    margin-bottom: 15px;
}

.card {
    background-color: @primary-color;
    border: 1px solid @text-color;

    .card-title {
        color: @text-color;
    }
    .card-description {
        color: white;
        font-size: 0.75em;
    }
}

.text {
    color: @text-color;
    margin: 0;
}

.country-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.country-flag {
    display: inline;
    img {
        width: 2.5em;
        height: auto;
        border-radius: 15px;
    }
}

.help-icon-topright {
    position: absolute;
    top: 15px;
    right: 30px;
    color: white;
}

.help-icon-bottomright {
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: white;
}

.help-icon:hover {
    cursor: pointer;
    color: black;
}