.app-container {
}

.text {
    color: @text-color;
}

.country-flag {
    display: inline;
    img {
        width: 2.5em;
        height: auto;
        border-radius: 15px;
    }
}

.help-icon {
    position: absolute;
    bottom: 15px;
    right: 30px;
    color: white;
}

.help-icon:hover {
    cursor: pointer;
    color: black;
}