.country-selector {
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin: 15px;
    cursor: pointer;

    h3, div {
        margin-left: 15px;
    }

    .country-selector-country {
        text-decoration: underline;
    }

    .country-select {
        color: white;
    }
}

.country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.rodal-dialog {
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-scrollbar {
        display: none;
    }
    .country-row {
        justify-content: flex-start;
        cursor: pointer;

        .text:hover {
            color: white;
        }
    }
    .country-flag {
        margin-right: 15px;
        margin-top: 0.25em;
    }
}

.country-row-min { 
    margin-bottom: 5px;
    .stat-body {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    
    .trend-down {
        p, i {
            color: @green;
        }
        
    }
    
    .trend-up {
        p, i {
            color: @red;
        }
    }
}

.country-row-min .text:hover {
    color: white;
    cursor: pointer;
}