.info-card {
    height: 10em;
    margin: 0.5em;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        text-align: center;
    }
}

.info-box-content {
    color: white;
    font-size: 5em;
}

.info-box-description {
    color: white;
    font-size: 1em;
}